body {
  font-family: Arial;
  padding: 10px;
}

button {
  padding: 10px;
  margin: 6px 0;
  width: 100%;
}

#reader {
  width: 100%;
  max-width: 360px;
  border: 2px solid #000;
  margin: 10px auto;
}

input, textarea {
  width: 100%;
  margin-bottom: 8px;
  padding: 6px;
}

textarea {
  height: 90px;
}

li {
  list-style: none;
  background: #f2f2f2;
  padding: 8px;
  margin-bottom: 6px;
}
