body {
  font-family: Arial;
  padding: 10px;
}

button {
  padding: 10px;
  margin: 6px 0;
}

#reader {
  width: 100%;
  max-width: 360px;
  border: 2px solid #000;
  margin: 10px auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background: #f2f2f2;
  padding: 8px;
  margin-bottom: 6px;
}
